apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    app: argocd-applications
    managedBy: argocd
    managementCodeGroup: chrismlee42
    managementCodeProject: argocd-applications
  name: github-actions-runner-controller
  namespace: argocd
spec:
  destination:
    name: in-cluster
    namespace: github-actions-runner-controller
  project: default
  sources:
    - path: argocd
      ref: path
      repoURL: https://github.com/chrismlee42/github-actions-runner-controller-config.git
      targetRevision: HEAD
    # - chart: actions-runner-controller-charts/gha-runner-scale-set-controller
    #   helm:
    #     releaseName: github-actions-runner-controller-chrismlee42
    #     valuesObject:
    #       githubConfigSecret: github-config-chrismlee42
    #   ref: helm-controller
    #   repoURL: ghcr.io/actions
    #   targetRevision: 0.13.1
    # - chart: actions-runner-controller-charts/gha-runner-scale-set-controller
    #   helm:
    #     releaseName: github-actions-runner-controller-morphacy
    #     valuesObject:
    #       githubConfigSecret: github-config-morphacy
    #   ref: helm-controller
    #   repoURL: ghcr.io/actions
    #   targetRevision: 0.13.1
    # - chart: actions-runner-controller-charts/gha-runner-scale-set-controller
    #   helm:
    #     releaseName: github-actions-runner-controller-mutinysoftware
    #     valuesObject:
    #       githubConfigSecret: github-config-mutinysoftware
    #   ref: helm-controller
    #   repoURL: ghcr.io/actions
    #   targetRevision: 0.13.1
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - RespectIgnoreDifferences=true
      - ServerSideApply=true
  ignoreDifferences:
    - kind: Secret
      name: github-config
      namespace: github-actions-runner-controller
      jsonPointers:
        - /data
    - kind: Secret
      name: github-config-chrismlee42
      namespace: github-actions-runner-controller
      jsonPointers:
        - /data
    - kind: Secret
      name: github-config-morphacy
      namespace: github-actions-runner-controller
      jsonPointers:
        - /data
    - kind: Secret
      name: github-config-mutinysoftware
      namespace: github-actions-runner-controller
      jsonPointers:
        - /data
